// main: styles.less

.search-component{
    padding: 100px 0;
}

.card-40{
    width: 40px;
}

.card-30{
    width: 30px;
}

.quick-search--countries{
    .dropdown-menu{
        max-height: 50vh;
        overflow-y: scroll;
        width: 350px;

        >li{
            >a{
                padding: 5px;
                color: #444;
                font-size: 12px;

                .text-right{
                    float: right;
                }
            }
        }

        &:not(.filter){
            z-index: 1001;
        }
    }

    .btn{
        outline: 0;
    }
}