.search-component {
  padding: 100px 0;
}
.card-40 {
  width: 40px;
}
.card-30 {
  width: 30px;
}
.quick-search--countries .dropdown-menu {
  max-height: 50vh;
  overflow-y: scroll;
  width: 350px;
}
.quick-search--countries .dropdown-menu > li > a {
  padding: 5px;
  color: #444;
  font-size: 12px;
}
.quick-search--countries .dropdown-menu > li > a .text-right {
  float: right;
}
.quick-search--countries .dropdown-menu:not(.filter) {
  z-index: 1001;
}
.quick-search--countries .btn {
  outline: 0;
}
